
.loading {
    margin-top: 120px;
    padding-top: 30px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .landing_img {
    background-size: cover;  
    width:400px;
    height:300px; 
  }

  .text_title {
    text-align: center;
    margin-bottom: 25px;
  }
  .title_welcome {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 20px;
    margin-bottom: 8px;
    color: rgb(55, 66, 51);
  }
  .title_span {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    color: rgb(113, 89, 38);
  }
 
  .loading_btn {
    margin-top: 25px;
    width: 110px;
    height: 25px;
    font-size: 16px;
    border-radius: 15px;
    background-color: rgb(177, 238, 56);
    cursor: pointer;
    animation: start 2s ease infinite;
  }
  .anchor {
    background-color: rgb(177, 238, 56);
  }

  @media (min-width: 768px) {
    .loading {
      margin-top: 60px;
      width: 100%;
    }

    .landing_img {
        width: 730px;
        height:420px; 
      }

    .title_welcome {
        font-size: 24px;
        margin-bottom: 8px;
      }
    .title_span {
        font-size: 26px;
      }
  }
  
   
  @keyframes start{
    70% {
      transform: translateY(0%);
    }
    80% {
      transform: translateY(-15%);
    }
    90% {
      transform: translateY(0%);
    }
    95% {
      transform: translateY(-7%);
    }
    97% {
      transform: translateY(0%);
    }
    99% {
      transform: translateY(-3%);
    }
    100% {
      transform: translateY(0);
    }
  }
  